<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table, th, td {
        border: 2px solid black;
        text-align: left;
      }
      .center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 230px ;
  margin-bottom: auto;
  height:200px;
}
      
      body{
        background-image:url("https://cdn.glitch.global/0ce08f8c-f01d-41cb-a05b-4964ef4b0641/giphy.gif?v=1689391195335");
        backdrop-filter: blur(2px);
        font-family: "Times New Roman", Times, serif;
        background-size= 100px 110px;
      }
      
      .cap{
        font-size="100px"
      }
    </style>
  </head>
  <body>
    <table style="width: 40%" class="center" id="Sadhv">
      <caption class="cap"> <center> <u> <h1>
      LOAN PREDICTION
        </h1> </u> </center> </caption>
        <tr>
          <th>GENDER</th>
          <td >
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="Male"
                id="gender0"
              />
              <label class="form-check-label" for="male">
                MALE
              </label>
            </div>
          </td>
          <td colspan="2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="Male"
                id="gender1"
                checked
              />
              <label class="form-check-label" for="female">
                FEMALE
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <th>MARRIED STATUS</th>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="married"
                id="yes0"
              />
              <label class="form-check-label" for="married">
                YES
              </label>
            </div>
          </td>
          <td colspan="2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="married"
                id="yes1"
                checked
              />
              <label class="form-check-label" for="unmarried">
                NO
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <th>EDUCATED</th>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="educated"
                id="flexRadioDefault5"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                YES
              </label>
            </div>
          </td>
          <td colspan="2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="educated"
                id="flexRadioDefault6"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                NO
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <th>SELF-EMPLOYED</th>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="employed"
                id="flexRadioDefault7"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                YES
              </label>
            </div>
          </td>
          <td colspan="2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="employed"
                id="flexRadioDefault8"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                NO
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <th>CREDIT HISTORY</th>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="hist"
                id="flexRadioDefault9"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                YES
              </label>
            </div>
          </td>
          <td colspan="2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="hist"
                id="flexRadioDefault10"
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                NO
              </label>
            </div>
          </td>
        </tr>
        
        <tr>
        <th>PROPERTY IN :</th>
        <td>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="area"
              id="flexRadioDefault11"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              RURAL
            </label>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="area"
              id="flexRadioDefault12"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              SEMI-URBAN
            </label>
          </div>
        </td>
        <td>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="area"
              id="flexRadioDefault13"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault2">
              URBAN
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" form="Sadhv" value="Submit">Submit</button>
        </td>
        <th>
          RESULT
        </th>
        <td colspan="2">
        </td>
      </tr>
    </table>
  </body>
</html>